In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
#importing dataset from local system
df=pd.read_csv("V:\github\glass.csv")
df.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [4]:
#selceting the model based on feature importance
x=df[["Al","K","Ba","Ca","Fe"]]
y=df.iloc[:,-1:]

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
from sklearn.neighbors import KNeighborsClassifier

In [7]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,train_size=0.3)

In [8]:
knn=KNeighborsClassifier(p=2,n_neighbors=3)

In [9]:
knn.fit(xtrain,ytrain)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """Entry point for launching an IPython kernel.

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [10]:
knn.score(xtrain,ytrain)

0.703125